{% load i18n static %}

{% if not request.websocket %}
  <script>
    alert("{% trans "Ei Websocket-yhteyttä!" %}");
  </script>
{% endif %}

{% if view.kaksisuuntainen %}
  <script
    src="https://cdn.jsdelivr.net/gh/Palindrom/JSONPatcherProxy@0.0.10/dist/jsonpatcherproxy.min.js"
    ></script>
{% endif %}

<script
  src="https://cdn.jsdelivr.net/gh/bruth/jsonpatch-js@0.7.0/jsonpatch.js"
  ></script>

<script
  src="{% static "synkroni/js/synkroni.js" %}"
  {# Websocket-yhteysosoite. #}
  data-websocket="{{ request.websocket }}{{ request.path }}"
  data-kattely='{"csrfmiddlewaretoken": "{{ csrf_token }}", "uusi": true}'
  data-alkutila="{{ view.data_alkutilanne|safe }}"
  ></script>

<script>
  /*
   * Poistetaan `uusi`-lippu kättelydatasta,
   * kun yhteys on ensimmäisen kerran alustettu.
   *
   * Tällöin seuraavat yhteydenmuodostukset eivät
   * tuo alkutilanteen dataa palvelimelta.
   */
  document.addEventListener("yhteys-alustettu", function (e) {
    let kattely = JSON.parse(document.synkroni.kattely);
    delete kattely.uusi;
    document.synkroni.kattely = JSON.stringify(kattely);
  }, false);
</script>
